@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.wrapper {
  margin: 1rem 0;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.poster-container {
  position: relative;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px 6px 0px rgb(34 60 80 / 20%);
}

.poster:hover {
  transform: translateY(-0.4rem);
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-family: system-ui;
  font-weight: bold;
  box-shadow: 2px 2px 4px 0px rgb(34 60 80 / 20%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: #ff4040;
  color: white;
}

.active {
  background-color: #ff4040;
  color: white;
}

header {
  padding: 0.6rem 1rem;
  display: flex;
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgb(34 60 80 / 20%);
  align-items: center;
}

.header-title {
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.input-text {
  padding: 0.4rem 0.5rem;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  font-family: system-ui;
  width: 250px;
}

.input-text:focus {
  border: 1px solid #ff4040;
}

h3 {
  font-family: system-ui;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .menu {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
  }

  .header-title {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .input-container {
    width: 100%;
  }

  .input-text {
    width: 100%;
  }
}

@media screen and (max-width: 200px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
